p {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.section-title h2 {
    font-size: 2.5rem;
    text-align: left;
}

.heading {
    height: 100vh;
    background: url('heading-pic.jpg') no-repeat;
    background-size: 100%;
    overflow: auto;
}

#title-group {
    position: absolute;
    top: 20vh;
}

#main-title {
    font-size: 5vw;
    padding: 3px 10px 3px 10px;
    font-weight: 600;
}
#main-tagline {
    font-size: 3vw;
    padding: 3px 10px 3px 10px;
}

.overlay-text {
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.8);
    color: white;
    margin: 0;
    display: inline-block;
    float: left;
    font-family: 'Oswald', sans-serif;
}


body {
    margin: 0;
    background: #ECECEA;
}

#main-content {
    margin: 0 2rem
}